#title {
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: gold;
  width: 200px;
}

#checkout {
  border: 1px solid black;
  width: 200px;
  min-height: 100px;
}

.hidden {
  display: none;
}

.green {
  background-color: green;
}
